<div class="row">
  <div class=col-md-12>
    <div [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container paper">
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12 caption-row">
      <span id="caption">
        {{image.caption}}
      </span>
    </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    