<h2 style="text-align:center">Lightbox</h2>

<div class="row">
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="assets/img/boat_01.jpeg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="assets/img/boat_01.jpeg" style="width:100%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- <div class="caption-container">
      <p id="caption"></p>
    </div> -->


    <!-- <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
      <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(5)" alt="Northern Lights">
      <div class="column">
      <img class="demo cursor" src="assets/img/boat_01.jpeg" style="width:100%" onclick="currentSlide(6)" alt="Northern Lights">
    </div> -->
  </div>
</div>

















<!-- <div class="main" style="background-image: url('assets/img/loginbg.jpg')">

  

  
  <div id="myBtnContainer">
    <button class="btn" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('nature')"> Nature</button> 
    <button class="btn" onclick="filterSelection('cars')"> Cars</button>
    <button class="btn" onclick="filterSelection('people')"> People</button>
  </div>
  
  
  <div class="row">
    <div class="column nature">
      <div class="content">
        <img src="assets/img/boat_01.jpeg" alt="Mountains" style="width:100%">
      </div>
    </div>
    <div class="column nature">
      <div class="content">
      <img src="assets/img/boat_01.jpeg" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="column nature">
      <div class="content">
      <img src="assets/img/boat_01.jpeg" alt="Nature" style="width:100%">
      </div>
    </div>
    
    <div class="column cars">
      <div class="content">
        <img src="assets/img/cars1.jpg" alt="Car" style="width:100%">
      </div>
    </div>
    <div class="column cars">
      <div class="content">
      <img src="assets/img/cars2.jpg" alt="Car" style="width:100%">
      </div>
    </div>
    <div class="column cars">
      <div class="content">
      <img src="assets/img/cars3.jpg" alt="Car" style="width:100%">
      </div>
    </div>
  
    <div class="column people">
      <div class="content">
        <img src="assets/img/people1.jpg" alt="Car" style="width:100%">
      </div>
    </div>
    <div class="column people">
      <div class="content">
      <img src="assets/img/people2.jpg" alt="Car" style="width:100%">
      </div>
    </div>
    <div class="column people">
      <div class="content">
      <img src="assets/img/people3.jpg" alt="Car" style="width:100%">
      </div>
    </div>

  </div>
  
  </div>
  
   -->