<html>
  <body>
    
  
  <div class="header">
    <h1>Welcome to PhotoGallery</h1>
    <p>You may experince a new feel.</p>
    
  </div>
  
  <div class="row">
      <div class="side">
          <h2 class="a1">About Us</h2>
          <h5 class="a1">Photos of me:</h5>
          <!-- <div class="fakeimg" ;">Image</div> -->
          <div class="zoom">
          <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
        </div>
          <p>Photography is the story I fail to put into words...</p>
          <h3 class="a1">More Text</h3>
          <p>Lorem ipsum dolor sit ame.</p>
          <!-- <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
          <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
          <img src="assets/img/boat_01.jpeg" style="height:200px" alt=""> -->
          <p>Photo Gallery is a fully responsive WordPress gallery plugin with advanced functionality. The easy-to-use WP plugin allows adding unlimited number of images to your blog and comes with a list of interactive features and gallery styles. Being fully responsive, the gallery plugin for WordPress enables you to create both desktop and mobile friendly websites. The free photo gallery widget is a great way to showcase your images by combining them into albums. You can create unlimited number of galleries, combine them into albums, and provide descriptions and tags.</p>

        </div>
      <div class="main">
          <!-- <h2>Gallery World</h2>
          <h5>Photography</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p> -->
          <!-- <br> -->
          <h2>Register me,To get more images...</h2>
          <h5>There will be more images are present in main page</h5>
          <!-- <div class="fakeimg" style="height:200px;">Image -->
              <div class="text-box" style="height:200px;">
                  <h1 class="heading-primary">
                          <span class="heading-primary-main">PhotoGallery</span>
                          <span class="heading-primary-sub">it's all where it started</span>
                  </h1>
                  
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  <img src="assets/img/boat_01.jpeg" style="height:200px" alt="">
                  </div>
          <h5>When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence..</h5>
      </div>
      
    </div>

    <div class="container-fluid bg-3 text-center">    
      <h3>Where To Find Me?</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
          <div class="zoom">
          <img src="assets/img/boat_01.jpeg" alt="Image" width="350" height="300">
        </div>
        </div>
        <div class="col-sm-4"> 
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5> 
          <div class="zoom">
            <img src="assets/img/boat_01.jpeg" alt="Image" width="350" height="300">
          </div>
          </div>
        <div class="col-sm-4"> 
          <h5> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
          <div class="zoom">
          <img src="assets/img/boat_01.jpeg" alt="Image" width="350" height="300">
        </div>
        </div>
      </div>
    </div>

   
    
  </body>
</html>
